* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
}

a {
  color: white;
}

a:visited {
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

h1, p {
  color: white;
  margin: 1em auto;
  text-align: center;
}

header, footer {
  margin: 1em auto;
  text-align: center;
}

article {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  text-align: center;
}

input, textarea, button {
  display: block;
}

fieldset {
  border: none;
  padding: 2rem 0;
}