body {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
}

a {
  color: white;
}

a:visited {
  color: white;
}

img {
  width: 300px;
  height: 300px;
}

h1, p {
  color: white;
}

input, textarea, button {
  display: block;
}